[submodule "server"]
	path = server
	url = https://github.com/sm64js/sm64js-mmo-server.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/sm64js/sm64js.git
	branch = MMO
[submodule "gameMaster"]
	path = gameMaster
	url = https://github.com/sm64js/sm64js.git
	branch = MMO-gameMaster
[submodule "adminPanel"]
	path = adminPanel
	url = https://github.com/sm64js/sm64js-admin.git
	branch = main
[submodule "proto"]
	path = proto
	url = https://github.com/sm64js/sm64js-mmo-proto.git
